*{
  padding: 0;
  margin: 0;
  color: #003608;
}

/* navbar */
.navbar{
  background-color: #d9dfd3;
  font-family: 'Libre Baskerville', serif;
}

.dropdown.menu{
  min-width: 370;
}

span {
  padding: 10px;
}

.me-auto{
  margin: auto!important;
}

a  {
  text-decoration: none !important;
  margin: 4px 18px;
  color:#003608 !important;
  text-align: center;
}

a:hover{
  color:#003608;
}

a.titulo.navbar-brand {
  font-weight: 700;
}

span.badge{
  padding: 2px 5px;
  top: -15px;
  right: -30px;
  font-size: 12px;
  border-radius: 50%;
}

.carrito{
  position: absolute;
}

.badge{
  position: relative;
  background-color: red;
}

/* generales */

.body-propiedades{
  background-color: #efe9e8;
}

/* contador */
.contador{
  margin: auto;
  width: fit-content;
  background-color: #d9dfd3;
  text-align: center;
  padding: 1rem;
}

button{
  background-color: #d9dfd3;
  color: #003608;
}

button.agregar-carrito {
  margin: 10px;
  border-radius: 19px;
  padding: 3px;
  background-color: #003608;
  color: white;
}

button.componentes {
  padding: 4px;
  border: transparent;
}

/* cards */

h3{
  text-align: center;
  font-size: 30px;
  
}