*{
  padding: 0;
  margin: 0;
  color: #003608;
  background-color:#efe9e8;
}

/* navbar */
div#basic-navbar-nav {
  background-color: #d9dfd3;
}

.navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {

  background-color: #d9dfd3;
}

.navbar{
  background-color: #d9dfd3;
  font-family: 'Libre Baskerville', serif;
  
}
.container-nav .conteiner{
  background-color: #d9dfd3;
}

.dropdown-nav{
  background-color: #d9dfd3;
}
.dropdown.menu{
  min-width: 370;
  background-color: #d9dfd3;
}

span {
  padding: 10px;
  background-color: #d9dfd3;
}

.me-auto{
  margin: auto!important;
  background-color: #d9dfd3;
}

a  {
  text-decoration: none !important;
  margin: 4px 18px;
  color:#003608 !important;
  text-align: center;
  background-color: #d9dfd3;
}

a:hover{
  color:#003608;
}

a.titulo.navbar-brand {
  font-weight: 700;
  background-color: #d9dfd3;
}

span.badge{
  padding: 3px 5px;
  top: -14px;
  right: -19px;
 
}

.carrito{
  position: absolute;
  background-color: #d9dfd3;
}

.badge{
  position: relative;
  background-color: red;
}
/* contador */
.contador{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.numero{
  background-color: #efe9e8 ;
}

.suma-resta{
  background-color: #efe9e8 ;
}
button.agregar-carrito {
  margin: 5px;
  border-radius: 19px;
  padding: 8px 15px;
  background-color: #003608;
  color: white; 
  border: #003608;
  margin-right: 11px ;
  margin-left: 24px;
  margin-top: -2px;
}

button.componentes {
  padding: 4px;
  border: none;
}

.boton-carrito {
  border-radius: 19px;
  padding: 6px 15px;
  background-color: #003608;
  color: white; 
  margin-bottom: 14px;
}

/* cards */

h3{
  text-align: center;
  font-size: 10px;
  margin: 0%;
  padding-top: 10px;
}

.gallery{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;

}

.content{
  width: 17%;
  margin: 15px;
  box-sizing: border-box;
  float: left;
  text-align: center;
  border-radius: 20px;
  cursor: pointer;
  padding: auto;
  box-shadow: 0 14px 28px rgba(0,0,0, 0.25), 0 10px 10px rgba(0,0,0, 0.22);
  transition: .4s;
  background-color: #d9dfd3 ;
 
}

.content:hover{
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0, 0.23);
  transform: translate(0px, -8px);
}

svg {
  background-color: #d9dfd3;
}

img{
  margin: 0 auto;
  display: block;
  width: 100%;
  padding: 0px;
  outline: none;
  border-radius: 20px 20px 0px 0px;
}

p{
  text-align: center;
  padding-top:0 8px;
}

.card-precio{
  font-size: 27px;
  text-align: center;
  margin: 9px;
  background-color: #d9dfd3;
}

 .buttonCard{
 font-size: 20px;
 color:#e8f5d9; 
 border-radius: 20px;
 padding: 0px 10px;
 margin: 1px 15px;
 background-color: #003608;
 border: #003608;
  text-align: center;
 }

 .buttonCard-detalle{
  background-color: #d9dfd3;
  border-radius: 20px;
  margin: 10px 16px;
  border-color: #003608;
}
 
/* card detalle */
.contenido{
  margin: 20px;
  display: flex;
}
.contenido-detalle{
  flex: 0 0 50%;
  position: relative;
  margin: 20px;
}
.img-detalle{
  display: block;
  width: 50%;
  border-radius: 20px;
}

.title-detalle{
  color: #003608;
  font-size: 45px;
  font-weight: 500;
  text-align: center;
  padding: 20px 37px;
}
.contenido-contendio{
  flex: 1;
  padding: 35px 35px 25px 35px;
  margin-top:-11px ;
  display: flex;
  flex-direction: column;
}

.contenido-precio{
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 31px;
  margin-bottom: 50px;
  margin-top: 50px;
  text-align: center;
}
.contenidos-detalle{
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 53px;
  margin-top: 14px;
}
/* Card */
.titulo-h2{
  text-align: center;
  margin-top: 5px;
}

.img-cart{
width: 16%;
border-radius: 20px;
margin: 36px 0px 0px 72px;
}
.h4-producto{
margin-left: 45px;

}

.h6-cantidad{
padding-left: 421px;
}
.h6-precio{
  padding-left: 15px;
  }

.div-cart{
  display:flex;
  align-items: center;
  margin: 26px;
}
button.borrar-carrito {
  margin: 5px;
  border-radius: 19px;
  padding: 8px 15px;
  background-color: #003608;
  color: white; 
  border: #003608;
  margin-right: 11px ;

}
button.borrar-item {
  font-size: 26px;
  font-weight: 600;
  padding-left: 10px;
  border: none;
  padding-top: -49px;
  padding-bottom: 16px;
}
.link-sincolor{
  background-color:#efe9e8;
}
.swal2-container.swal2-top-end>.swal2-popup, .swal2-container.swal2-top-right>.swal2-popup {

  background-color: #efe9e8;
}

@media only screen and (min-width: 824px) and (max-width: 1023px){
  .content{
    width: 20%;
  }
  .buttonCard{
    margin: 1px 5px;
    }
   
    .buttonCard-detalle{
     margin: 10px 2px;
   }

};

@media (max-width:825px){
  .content{
    width: 29%
  }

  h6{
    font-size: 20px;
  }
  .buttonCard{
    margin: 1px 5px;
    }
   
    .buttonCard-detalle{
     margin: 10px 2px;
   }
};
